**/*.jpg
**/*.png
**/*.zip
**/*.csv
wikiart-master/**/*.json
!Project\ Code/results/**/*/
!Project\ Code/results/**/*.png
!Project\ Code/datasets/wikiart_all/test*/*.jpg
!Project\ Code/datasets/wikiart_all/test*/*.png
!Project\ Code/results/**/*
!Project\ Code/checkpoints/**/web/**/*
